<!-- <ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      D3 + Ionic
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <ion-list-header color="light">Advanced D3 Charts</ion-list-header> -->
  <!-- <ion-card class="welcome-card"> -->
    <!-- <ion-card-content> -->
     <graphs></graphs>
    <!-- </ion-card-content> -->
  <!-- </ion-card> -->
</ion-content>
